{{>layout/header}}
<body>
<div class="container">{{>layout/article}}</div>


<center>
    <br><br>
    <form action="">
        <h1>User</h1>
        <input type="email" name="email" placeholder="email"/>
        <br>

        <hr>
        <h1>New Monitor</h1>
        <input type="url" name="url" placeholder="URL"/>
        <br><br>
        <input type="submit" value="submit">

        <hr>
        <h1>List your Monitors</h1>
        <br>
        <input type="submit" value="list">

        <hr>
        <h1>Send Stats</h1>
        <br>
        <input type="submit" value="send">

        <hr>
        <h1>Opt out</h1>
        <br>
        <input type="submit" value="delete your account">

    </form>

</center>

</body>
{{>layout/footer}}